<div class="mainblock">
    <div class="container">
        <div class="col-md-12 col-title">            
            <div class="col-sm-4"></div>
            <div class="col-heading">
                <h3>
                    Stock Counting Allotment
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-title" *ngIf="isShown">
            <div *ngIf="isEditMode" style="font-weight: bold;">
                Assign Stock Counting
            </div>
            <div>
                <form
                    (ngSubmit)="f.form.valid && (inputData.operatorId1 > 0) && (inputData.operatorId2 > 0) && onSubmit(form)"
                    name="form" #f="ngForm" novalidate autocomplete="off">
                    <div class="form-group tableblock">
                        <table class="tabulargrid">
                            <tr class="form-group">
                                <td><label class="control-label" for="row">Row</label></td>
                                <td>
                                    <input id="row" type="text" class="form-control" [(ngModel)]="inputData.row"
                                        name="row" #row="ngModel" readonly />
                                </td>
                            </tr>
                            <tr class="form-group required">
                                <td><label class="control-label" for="operatorId1">OperatorId-1</label>
                                </td>
                                <td>
                                    <select id="operatorId1" class="form-control" [(ngModel)]="inputData.operatorId1"
                                        name="operatorId1" #operatorId1="ngModel"
                                        (change)="onOperator1Change(inputData.operatorId1)"
                                        [ngClass]="{ 'is-invalid': f.submitted && (operatorId1.value == 0) }" required
                                        autofocus>
                                        <option [ngValue]="0" disabled selected>Select Operator-1</option>
                                        <option *ngFor="let usr of operator1Result" [ngValue]="usr.userId">
                                            {{usr.userName}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="form-group required">
                                <td><label class="control-label" for="operatorId2">OperatorId-2</label>
                                </td>
                                <td>
                                    <select id="operatorId2" class="form-control" [(ngModel)]="inputData.operatorId2"
                                        name="operatorId2" #operatorId2="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && (operatorId2.value == 0) }" required
                                        autofocus>
                                        <option [ngValue]="0" disabled selected>Select Operator-2</option>
                                        <option *ngFor="let usr of operator2Result" [ngValue]="usr.userId">
                                            {{usr.userName}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="entity-form-group row required">
                        <div class="col-sm-12 btnsearch col-title">
                            <button type="reset" class="btn btn-default" (click)="cancelStockAllotment()"
                                name="cancel">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="save"
                                [hidden]="isReadOnlyMode">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card shadow border-0 mb-7">
            <div class="table-responsive-inventory">
                <table class="table table-success table-striped">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Row</th>
                            <th scope="col">Operator 1</th>
                            <th scope="col">Operator 2</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr
                            *ngFor="let item of stockAllotmentRecords | paginate: { itemsPerPage: pageSize, currentPage: p }">
                            <td>{{item.row}}</td>
                            <td>{{item.operatorName1}}</td>
                            <td>{{item.operatorName2}}</td>
                            <td><button class="btn edit-button" (click)="onEditAllotment(item)"><i
                                        class="fa fa-edit"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="parent-bottom">
                    <div class="twins1-pagination pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                    <div class="twins2-pagination">
                        <label>Page Size:</label>&nbsp;&nbsp;<select [(ngModel)]="pageSize"
                            style="width: 100px !important;">
                            <option *ngFor="let pageSize of [10, 20, 50, 100, 1000, 5000, 10000]" [value]="pageSize">
                                {{pageSize}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>