<div class="mainblock">
    <div class="container">
        <div class="col-md-12 col-title">
            <div *ngIf="isAddButtonShow" id="addDiv" class="btnsearch btnhandlerpadding topmarg14">
                <button class="btn btn-info" type="button" (click)="this.hideAddButton(false)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-heading">
                <h3>
                    Location Master
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-title" *ngIf="isShown">
            <div *ngIf="!isEditMode">
                <b>Add Location</b>
            </div>
            <div *ngIf="isEditMode">
                <b>Edit Location</b>
            </div>
            <div>
                <form (ngSubmit)="f.form.valid && onSubmit(form)" name="form" #f="ngForm" novalidate autocomplete="off">
                    <div class="form-group tableblock">
                        <table class="tabulargrid">
                            <tr class="form-group required">
                                <td><label class="control-label" for="country">Country</label></td>
                                <td>
                                    <select id="selectcountry" name="countryId" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.submitted && countryId.invalid }"
                                        #countryId="ngModel" [(ngModel)]="locationModel.countryId"
                                        (change)="onCountrySelected(countryId.value)" autofocus required>
                                        <option *ngFor="let country of countryResult" [ngValue]="country.id">
                                            {{country.countryName}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="form-group required">
                                <td><label class="control-label" for="locationName">Location Name</label></td>
                                <td>
                                    <input id="locationName" type="text" placeholder="Location Name"
                                        class="form-control" name="locationName"
                                        [(ngModel)]="locationModel.locationName" #locationName="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && locationName.invalid }" required
                                        autofocus />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="location-form-group required">
                        <div class="col-sm-12 btnsearch">
                            <button type="reset" class="btn btn-default" (click)="cancelLocation()"
                                name="cancel">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="save"
                                [hidden]="isReadOnlyMode">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 col-title">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                <tfoot>
                    <tr class="filters">
                        <th><input type="text" placeholder="Country Name" name="countryName" class="form-control" />
                        </th>
                        <th><input type="text" placeholder="Location Name" name="locationName" class="form-control" />
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>