<div class="mainblock">
  <div class="container">
    <div class="col-md-12 col-title">
      <div *ngIf="isAddButtonShow" id="addDiv" class="btnsearch btnhandlerpadding topmarg14">
        <button class="btn btn-info" type="button" (click)="this.hideAddButton(false)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="col-sm-4 col-title"></div>
      <div class="col-heading">
        <h3>
          User Group
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12 col-title" *ngIf="isShown">
      <div *ngIf="!isEditMode" style="font-weight: bold;">
        Add User Group
      </div>
      <div *ngIf="isEditMode" style="font-weight: bold;">
        Edit User Group
      </div>
      <div>
        <form (ngSubmit)="f.form.valid && onSubmit(form)" name="form" #f="ngForm" novalidate autocomplete="off">
          <div class="form-group tableblock">
            <table class="tabulargrid">
              <tr>
                <td><label class="control-label">User</label></td>
                <td>
                  <select id="selectUser" name="id" class="form-control" [(ngModel)]="userGroupVM.userId"
                    [ngClass]="{ 'is-invalid': f.submitted && userId.invalid }" #userId="ngModel"
                    (change)="onUserSelected(userId.value)" autofocus required>
                    <option *ngFor="let claimHandlerItem of claimHandlerItems" [ngValue]="claimHandlerItem.id">
                      {{claimHandlerItem.userName}}</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label class="control-label" for="inputPlan">Group Name</label></td>
                <td>
                  <select id="selectGroupName" name="groupName" class="form-control" [(ngModel)]="userGroupVM.groupName"
                    [ngClass]="{ 'is-invalid': f.submitted && groupName.invalid }" #groupName="ngModel"
                    (change)="onGroupSelected(groupName.value)">
                    <option *ngFor="let grp of groupListResult" [ngValue]="grp.groupName">
                      {{grp.groupName}}
                    </option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="user-form-group required">
            <div class="col-sm-12 btnsearch">
              <button type="reset" class="btn btn-default" (click)="hideform()" name="cancel">Cancel</button>
              <button type="submit" class="btn btn-primary" name="save" [hidden]="isReadOnlyMode">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12 col-title">
      <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
          <tfoot>
            <tr class="filters">
              <th><input type="text" placeholder="User Name" name="userName" class="form-control" /></th>
              <th><input type="text" placeholder="Group Name" name="groupName" class="form-control" /></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>