<div class="col-xl-3 col-sm-4 col-10" style="padding-left: 0px !important;">
  <div class="parent">
    <div class="child">
      Upload Inventory Data
    </div>
    <div class="twins1">
      <input class="form-control" type="file" #fileInput />
    </div>
    <div class="twins2">
      <button class="btn btn-primary btn-upload" (click)="uploadFile();">Upload</button>
    </div>
  </div>

  <div id="wrapper">
    <label>Filter By Row:</label>&nbsp;&nbsp;
    <select id="selectrow" name="row" (change)="onRowDataSelected($event)" style="width: 250px !important;"
      class="form-control">
      <option *ngFor="let rowData of rowFilterResult" [ngValue]="rowData">
        {{rowData}}
      </option>
    </select>
  </div>  
</div>

<div class="card shadow border-0 mb-7">
  <div class="table-responsive-inventory">
    <table class="table table-success table-striped" #myTable>
      <thead class="thead">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">S No</th>
          <th scope="col">Location</th>
          <th scope="col">Movible Unit</th>
          <th scope="col">Sku</th>
          <th scope="col">Description</th>
          <th scope="col">Lot</th>
          <th scope="col">Exp date</th>
          <th scope="col">Serial Key</th>
          <th scope="col">OH WMS</th>
          <th scope="col">Actual A</th>
          <th scope="col">Diff (A)</th>
          <th scope="col">Actual B</th>
          <th scope="col">Actual Final</th>
          <th scope="col">Diff Final</th>
          <th scope="col">Action </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let inv of allInventory | async | paginate: { itemsPerPage: pageSize, currentPage: p }">
          <td><a class="text-heading font-semibold" href="#">{{inv.date | date: 'dd/MM/yyyy'}} </a> </td>
          <td>{{inv.sNo}}</td>
          <td>{{inv.location}}</td>
          <td>{{inv.movibleUnit}}</td>
          <td>{{inv.sku}}</td>
          <td>{{inv.description}}</td>
          <td>{{inv.lot}}</td>
          <td>{{inv.expdate}}</td>
          <td>{{inv.serialkey}}</td>
          <td>{{inv.onHand_WMS}}</td>
          <td>{{inv.actualA}}</td>
          <td>{{inv.diffA}}</td>
          <td>{{inv.actualB}}</td>
          <td>{{inv.actualFinal}}</td>
          <td>{{inv.diffFinal}}</td>
          <td class="text-end"><button class="btn edit-button"><i class="fa fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="parent-bottom">
      <div class="twins1-pagination pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="twins2-pagination">
        <label>Page Size:</label>&nbsp;&nbsp;<select [(ngModel)]="pageSize" style="width: 100px !important;">
          <option *ngFor="let size of [10, 20, 50, 100, 1000, 5000, 10000]" [value]="size">{{size}}</option>
        </select>
      </div>
    </div>
  </div>
</div>